@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
    font-family: interb;
    src: url('assets/fonts/inter/Inter_18pt-Bold.ttf') format('truetype');
}
@font-face {
    font-family: interm;
    src: url('./assets/fonts/inter/Inter_18pt-SemiBold.ttf');
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}